/* Standaardstijlen voor desktopweergave */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px ;
    background-color: black;
}

.logo img {
    max-width: 200px;
    height: auto;
    padding-right: 20px;
    background-color: black;
    padding: 10px;
    margin-left: 60px;
}

.open-menu {
display: none;

}  


.menu {
    display: flex;
    align-items: center;


}

.menu li {
    padding: 0 15px;

}

.menu li a {
    display: inline-block;
    text-decoration: none;

    /* background-color: yellow;  */
    padding: 10px 15px; 
    border-radius: 5px; 
    margin-right: 5px; 
    float: left;
    color: yellow;

    transition: 0.3s ease;
}



/* Hamburgermenu-stijlen voor mobiele weergave */
#check {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}


@media(min-width: 862px){
    .menu li a {
        background-color: yellow; 
        color: rgb(0, 0, 0); 
        padding: 10px;
        border-radius: 5px; 
        margin: 5px;
    }

 
}

/* Mediaquery voor mobiele weergave */
@media (max-width: 861px) {
    
    .open-menu {
        color: white; /* Maak de tekst in het hamburgerpictogram wit */
        font-size: 24px; /* Pas de lettergrootte naar wens aan */
        cursor: pointer;
        display: block;
    }  
  .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        color: white;
        left: 0;
        right: 0;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .logo img {
        max-width: 200px;
        height: auto;
        padding-right: 20px;
        background-color: black;
        padding: 10px;
        margin-left: 0;
    }


    .menu.active {

        display: flex;
    }

    #check:checked + .menu {
        display: flex;
   
        
    }

    .menu-icon {
        font-size: 36px; /* Pas de grootte van het hamburgerpictogram aan */
        color: white;
        cursor: pointer;
        margin-right: 20px; /* Voeg wat ruimte toe tussen het hamburgerpictogram en de menu-items */
    }
    .menu li {

        padding: 10px; /* Voeg wat ruimte toe aan de menu-items */
        background-color: transparent; /* Verwijder het achtergrondvlak voor menu-items */
    }
}
